{
    # Enable auto HTTPS for deployment, disable redirects for local development
    {$AUTO_HTTPS}
    email grey@fhirfli.dev
}

:8080 {
    reverse_proxy 127.0.0.1:8090
    log {
        output file /var/log/caddy/access.log
        format json
    }
    encode gzip
    file_server
}
